<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ST. JOSEPH'S COLLEGE (AUTONOMOUS), DEVAGIRI, CALICUT</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="https://devagiricollege.net/sjc/asset/admin/img/logo.png">

  <link rel="manifest" href="/static/manifest.json" />
  <!-- ios support -->
  <link rel="apple-touch-icon" sizes="57x57"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://devagiricollege.net/sjc/asset/admin/img/favicon/apple-icon-180x180.png">
  <link rel="icon" sizes="192x192" href="/static/android-chrome-192x192.png">
  <link rel="icon" sizes="512x512" href="/static/android-chrome-512x512.png">

  <meta name="apple-mobile-web-app-status-bar" content="#db4938" />
  <meta name="theme-color" content="#db4938" />

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/imag_privew/neon-forms.css">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/language/l_one.css">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/data_table/dataTables.bootstrap.css">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/datepicker/datepicker3.css">
  <!-- need -->
  <!-- bootstrap datepicker -->

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/fullcalendar/fullcalendar.min.css">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/fullcalendar/fullcalendar.print.css"
    media="print">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/select2/select2.min.css">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/dist/AdminLTE.min.css">

  <link rel="stylesheet" href="https://devagiricollege.net/sjc/asset/admin/css/tholi/_all-skins.min.css">
  <script src="https://devagiricollege.net/sjc/asset/admin/js/jQuery/jquery-2.2.3.min.js"></script>
  <script src="/static/app.js"></script>
</head>

<body style="height: auto;">
  <div>

    <header class="main-header">
      <!-- Logo -->

      <!--  <div class="row">
    <div class="col-md-12">
        <img src="https://devagiricollege.net/sjc//asset/demo/demo.png" width="100%" height="auto"></div>
  
     <div class="col-md-12" style="background-color:#5D5D5D; width: 100%;height: 2px; "></div>
  
   </div>-->
    </header>
    <noscript>
      <style>
        html {
          display: none;
        }
      </style>
      <meta http-equiv="refresh" content="0.0;url=https://devagiricollege.net/sjc/home/jsdisabled">
    </noscript>

    <div class="content-wrapper"
      style="margin-left: 0px;background-image: url('https://devagiricollege.net/sjc/asset/demo/s1.jpg');background-repeat: no-repeat;background-size: cover;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          &nbsp;&nbsp;&nbsp;

        </h1>

      </section>

      <!-- Main content -->
      <section class="content">

        <div class="row">


          <div class="col-lg-8 col-xs-12">


          </div>
          <div class="col-lg-4 col-xs-12">
            <div class="login-box">


              <div class="login-box-body" style="height:auto; margin-bottom:20px; margin-top:20px;border-radius: 25px;"
                align="center">
                <p class="login-box-msg" style="margin-bottom: 10px;">UNOFFICIAL OPEN-SOURCE CLIENT</p>
                <p>
                  <img src="https://devagiricollege.net/sjc/asset/demo/logo.jpg" style="width:100px"
                    alt="devagiri logo"><br>
                <h4><strong> ST. JOSEPH'S COLLEGE (AUTONOMOUS),
                    DEVAGIRI, CALICUT
                  </strong></h4>
                </p>



                <h3 class="login-box-msg">STUDENT LOGIN</h3>

                <p class="login-box-msg" style="margin-bottom: 0px; margin-top: 0px; color: #ff0000;">{{message}}</p>

                <form action="/" method="post" name="wakin">
                  <div class="form-group has-feedback">
                    <input type="text" autocomplete="off" name="username" class="form-control" placeholder="User name">
                  </div>

                  <div class="form-group has-feedback">
                    <input type="password" autocomplete="off" name="password" class="form-control"
                      placeholder="Password">
                  </div>


                  <div class="row">
                    <div class="col-xs-12">
                      <button type="submit" class="btn btn-primary btn-block btn-flat"
                        style="width:100%;margin-bottom: 20px;">Sign In</button>
                      <p class="login-box-msg" style="margin-bottom: 0px; margin-top: 0px;">Use this web client only for
                        checking attendance.</p>
                      <p class="login-box-msg" style="margin-bottom: 0px; margin-top: 0px;">Your login credentials are
                        stored within your browser.</p>
                      <p class="login-box-msg" style="margin-bottom: 0px; margin-top: 0px;"><a
                          href="https://devagiricollege.net/sjc/Home/student">Official Site</a> • <a
                          href="https://github.com/shamilsaleem/sjc-client">Source Code</a></p>
                      <p class="login-box-msg" style="margin-bottom: 0px; margin-top: 0px;">Made with ❤️ by <a
                          href="https://www.instagram.com/shamil.saleem">😶‍🌫️</a></p>
                    </div>




                  </div>
                </form>


              </div>
            </div>



          </div>


          <!--work start-->




        </div>

    </div>

    </section><!-- /.content -->
  </div>


  <!--  	<footer class="main-footer" style="margin-left: 0px; background-color: #5D5D5D; color: white;">
    
    <center><strong>Copyright &copy; 2018-2024 <a href="http://cllit.com">Cllit</a>.</strong> All rights
        reserved.</center>
  </footer>-->

  <!-- Control Sidebar -->



  </div>


  <!-- Bootstrap 3.3.6 -->
  <script src="https://devagiricollege.net/sjc/asset/admin/js/bootstrap.min.js"></script>


  <!-- DataTables start-->
  <script src="https://devagiricollege.net/sjc/asset/admin/js/data_table/jquery.dataTables.min.js"></script>
  <script src="https://devagiricollege.net/sjc/asset/admin/js/data_table/dataTables.bootstrap.min.js"></script>
  <!-- DataTables end-->


  <script src="https://devagiricollege.net/sjc/asset/admin/js/imag_privew/fileinput.js"></script> <!-- image view -->

  <script src="https://devagiricollege.net/sjc/asset/admin/js/input-mask/jquery.inputmask.js"></script>
  <script src="https://devagiricollege.net/sjc/asset/admin/js/moment/moment.min.js"></script>



  <script src="https://devagiricollege.net/sjc/asset/admin/js/daterangepicker/daterangepicker.js"></script>

  <script src="https://devagiricollege.net/sjc/asset/admin/js/datepicker/bootstrap-datepicker.js"></script>

  <script src="https://devagiricollege.net/sjc/asset/admin/js/select2/select2.full.min.js"></script>



  <!-- Slimscroll -->
  <script src="https://devagiricollege.net/sjc/asset/admin/js/slimScroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->

  <script src="https://devagiricollege.net/sjc/asset/admin/js/fastclick/fastclick.js"></script>
  <!-- AdminLTE App -->
  <script src="https://devagiricollege.net/sjc/asset/admin/js/js/app.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="https://devagiricollege.net/sjc/asset/admin/js/js/demo.js"></script>
  <!-- fullCalendar 2.2.5 -->

  <script src="https://devagiricollege.net/sjc/asset/admin/js/fullcalendar/fullcalendar.min.js"></script>
  <!-- Page specific script -->


  <script>
    $(document).ready(function () {
      $("#deleteconf").click(function () {
        var len = $(".check:checked").length;
        if (len > 0) {
          $('#head1').html('Delete?');
          $('#message1').html('Are you sure you want to delete the selected items?');
          $('#deleteModal').modal('show');
        } else {
          alert('Please select at least one!')
        }

      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#sendmessage").click(function () {
        var len = $(".checkmsg:checked").length;
        if (len > 0) {
          $('#head2').html('Send Message');
          $('#messagesendModal').modal('show');
        } else {
          alert('Please select at least one!')
        }

      });
    });
  </script>

  <script>
    $(function () {

      /* initialize the external events
       -----------------------------------------------------------------*/
      function ini_events(ele) {
        ele.each(function () {


          // it doesn't need to have a start or end
          var eventObject = {
            title: $.trim($(this).text()) // use the element's text as the event title
          };

          // store the Event Object in the DOM element so we can get to it later
          $(this).data('eventObject', eventObject);

          // make the event draggable using jQuery UI
          $(this).draggable({
            zIndex: 1070,
            revert: true, // will cause the event to go back to its
            revertDuration: 0 //  original position after the drag
          });

        });
      }

      ini_events($('#external-events div.external-event'));

      /* initialize the calendar
       -----------------------------------------------------------------*/
      //Date for the calendar events (dummy data)
      var date = new Date();
      var d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        buttonText: {
          today: 'today',
          month: 'month',
          week: 'week',
          day: 'day'
        },
        //Random default events
        events: [{
          title: 'All Day Event',
          start: new Date(y, m, 1),
          backgroundColor: "#f56954", //red
          borderColor: "#f56954" //red
        },
        {
          title: 'Long Event',
          start: new Date(y, m, d - 5),
          end: new Date(y, m, d - 2),
          backgroundColor: "#f39c12", //yellow
          borderColor: "#f39c12" //yellow
        },
        {
          title: 'Meeting',
          start: new Date(y, m, d, 10, 30),
          allDay: false,
          backgroundColor: "#0073b7", //Blue
          borderColor: "#0073b7" //Blue
        },
        {
          title: 'Lunch',
          start: new Date(y, m, d, 12, 0),
          end: new Date(y, m, d, 14, 0),
          allDay: false,
          backgroundColor: "#00c0ef", //Info (aqua)
          borderColor: "#00c0ef" //Info (aqua)
        },
        {
          title: 'Birthday Party',
          start: new Date(y, m, d + 1, 19, 0),
          end: new Date(y, m, d + 1, 22, 30),
          allDay: false,
          backgroundColor: "#00a65a", //Success (green)
          borderColor: "#00a65a" //Success (green)
        },
        {
          title: 'Click for Google',
          start: new Date(y, m, 28),
          end: new Date(y, m, 29),
          url: 'http://google.com/',
          backgroundColor: "#3c8dbc", //Primary (light-blue)
          borderColor: "#3c8dbc" //Primary (light-blue)
        }
        ],
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar !!!
        drop: function (date, allDay) { // this function is called when something is dropped

          // retrieve the dropped element's stored Event Object
          var originalEventObject = $(this).data('eventObject');

          // we need to copy it, so that multiple events don't have a reference to the same object
          var copiedEventObject = $.extend({}, originalEventObject);

          // assign it the date that was reported
          copiedEventObject.start = date;
          copiedEventObject.allDay = allDay;
          copiedEventObject.backgroundColor = $(this).css("background-color");
          copiedEventObject.borderColor = $(this).css("border-color");

          // render the event on the calendar
          // the last `true` argument determines if the event "sticks"
          $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

          // is the "remove after drop" checkbox checked?
          if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove();
          }

        }
      });

      /* ADDING EVENTS */
      var currColor = "#3c8dbc"; //Red by default
      //Color chooser button
      var colorChooser = $("#color-chooser-btn");
      $("#color-chooser > li > a").click(function (e) {
        e.preventDefault();
        //Save color
        currColor = $(this).css("color");
        //Add color effect to button
        $('#add-new-event').css({
          "background-color": currColor,
          "border-color": currColor
        });
      });
      $("#add-new-event").click(function (e) {
        e.preventDefault();
        //Get value and make sure it is not null
        var val = $("#new-event").val();
        if (val.length == 0) {
          return;
        }

        //Create events
        var event = $("<div />");
        event.css({
          "background-color": currColor,
          "border-color": currColor,
          "color": "#fff"
        }).addClass("external-event");
        event.html(val);
        $('#external-events').prepend(event);

        //Add draggable funtionality
        ini_events(event);

        //Remove event from text input
        $("#new-event").val("");
      });
    });
  </script>




  <!--for data table part abey-->

  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>

  <!--for data table part abey-->

  <script>
    $(function () {
      //Initialize Select2 Elements
      $(".select2").select2();

      //Datemask dd/mm/yyyy
      $("#datemask").inputmask("dd/mm/yyyy", {
        "placeholder": "dd/mm/yyyy"
      });
      //Datemask2 mm/dd/yyyy
      $("#datemask2").inputmask("mm/dd/yyyy", {
        "placeholder": "mm/dd/yyyy"
      });
      //Money Euro
      $("[data-mask]").inputmask();

      //Date range picker
      $('#reservation').daterangepicker();
      //Date range picker with time picker
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        format: 'YYYY/MM/DD h:mm A'
      });
      $('#datepicker').datepicker({
        datepicker: true,
        timePickerIncrement: 30,
        format: 'yyyy-mm-dd'
      });
      $('#datepicker2').datepicker({
        datepicker: true,
        timePickerIncrement: 30,
        format: 'yyyy-mm-dd'
      });
      $('#datepicker3').datepicker({
        datepicker: true,
        timePickerIncrement: 30,
        format: 'yyyy-mm-dd'
      });
      $('#datepicker4').datepicker({
        datepicker: true,
        timePickerIncrement: 30,
        format: 'yyyy-mm-dd'
      });
      $('#datepicker5').datepicker({
        datepicker: true,
        timePickerIncrement: 30,
        format: 'yyyy-mm-dd'
      });
      $('#datepicker6').datepicker({
        datepicker: true,
        timePickerIncrement: 30,
        format: 'yyyy-mm-dd'
      });
      $('.dateta').datepicker({
        datepicker: true,
        timePickerIncrement: 30,
        format: 'dd/mm/yyyy',
        autoclose: true,
        startDate: '31/01/1959',
        endDate: '31/01/2009'
      });
      //Date range as a button
      $('#daterange-btn').daterangepicker({
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));


        }
      );

      //Date picker
      $('#datepicker').datepicker({

        autoclose: true
      });

      //iCheck for checkbox and radio inputs
      $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
      });
      //Red color scheme for iCheck
      $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red'
      });
      //Flat red color scheme for iCheck
      $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
      });

      //Colorpicker
      $(".my-colorpicker1").colorpicker();
      //color picker with addon
      $(".my-colorpicker2").colorpicker();

      //Timepicker
      $(".timepicker").timepicker({
        showInputs: false
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>




  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="head"></h4>
        </div>
        <div class="modal-body">
          <p id="message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</body>

</html>